.LoginDiv{
    /* border: 2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-top: 1%;
    padding-bottom: 5%;
    width: 30%;
    height: 100%;
    margin: auto;
    margin-top: 10%;
}

.LoginDiv>div>input{
    /* border: 2px solid red; */
    width: 250px;
    padding:6%;
    border: none;
    border-radius: 28px;
    background-color: #ebe8da;
    color: #354259;
}

.LoginDiv>div>button{
    width: 180px;
    padding: 3%;
    border: none;
    background-color: #C2DED1;
    color: #354259;
    border-radius: 20px;
}

.LoginDiv>div>button:hover{
    /* border: 1px solid red; */
    background-color: #354259;
    color: #C2DED1;
    border-radius: 20px;
}